{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
