.App {
  font-size: 1rem;
  font-family: "Verdana";
  border: 1px solid #ccc;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
