.App {
    font-size: 1rem;
    font-family: 'Verdana';
    border: 1px solid #ccc;
    width: 40em;
    box-sizing: border-box;
    margin: auto;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 0.2em 0.2em #eee;
}

.status-dot {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
}

.status-dot.ok {
    background-color: lime;
}

.status-dot.error {
    background-color: Tomato;
}

.status-dot.unknown {
    background-color: gray;
}

#status-box {
    width: fit-content;
    border: 1px solid #ddd;
}